<div class="main-container h-full bg-transparent">
    <main class="make-post-card p-4 rounded-lg shadow-lg bg-transparent">
        <header class="encabezado text-xlg font-bold mb-4">
            Comenta, pregunta o menciona lo que se te ocurra
        </header>
        <form method="post">
            <textarea name="texto_post" id="texto_post" rows="8" class="block p-2.5 w-full text-sm bg-[#404040] shadow-lg rounded-lg" placeholder="Escribe algo..."></textarea>
            <br>
            <a routerLink="/board">
                <button class="to-post relative bottom-0 right-0 bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-lg text-base px-8 py-3"
                type="submit">Postear</button>
            </a>
        </form>
    </main>
</div>